body, input, textarea, button, select, option, a {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}

div {
  padding-top: 5vh;
}

code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
.topbar {
  z-index: 100;
  position: fixed;
  margin: 0;
  width: 100%;
  font-size: 20px;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}
.topbar a { text-decoration: none; width: 18vw; text-align: center; height: min-content; color: white; }

.link {
  color: #61dafb;
}

.pg {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
}

.cntr {
  width: 75%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}