body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}

code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
.topbar {
  margin: 0;
  width: auto;
  font-size: 20px;
  position: relative;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  font-family: "Roboto";
}
.topbar a { text-decoration: none; width: 20vw; text-align: center; height: min-content; color: white; }

.link {
  color: #61dafb;
}