.Home {
	text-align: center;
	line-height: 50vh;
}
span
{
	background-color: #f37220;
  	padding: 20vh 50% 20vh 50%;
	display: inline-block;
  	vertical-align: middle;
  	line-height: 1vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
  grid-auto-flow: row;
  background-color: white;
}
